<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Author:  Priyobrato.Das
  ~ Generated: 10/15/24, 1:20 PM IST
  ~ Copyright (c)  2014-2024 priyodas12
  -->

<Configuration status="WARN">
  <Appenders>
    <!-- Log to console -->
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <!-- Root logger to log all levels -->
    <Root level="info">
      <AppenderRef ref="ConsoleAppender"/>
    </Root>
  </Loggers>
</Configuration>
